{% include 'top.html' %}

<div id="content" class="container my-4">
    <h2>Flight Details</h2>
    <p><strong>Flight ID:</strong> {{ flight[0] }}</p>  
    <p><strong>Flight Number:</strong> {{ flight[1] }}</p>  
    <p><strong>Departure Airport:</strong> {{ flight[2] }}</p>  
    <p><strong>Arrival Airport:</strong> {{ flight[3] }}</p>  
    <p><strong>Departure Time:</strong> {{ flight[4] }}</p>  
    <p><strong>Arrival Time:</strong> {{ flight[5] }}</p>  
    <p><strong>Aircraft ID:</strong> {{ flight[6] }}</p>  
    <a href="{{ url_for('search_flight_by_id') }}" class="btn btn-primary">Back to Search</a>
</div>

{% include 'end.html' %}
