{% include 'top.html' %}

<div id="content" class="container my-4">
    <h1 class="page-title">{{page.get('title', 'All Flights')}}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Flight ID</th>
                <th>Flight Number</th>
                <th>Departure Airport ID</th>
                <th>Arrival Airport ID</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Aircraft ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr class="align-items-center">
                <td class="align-middle">{{ flight.flightid }}</td>
                <td class="align-middle">{{ flight.flightnumber }}</td>
                <td class="align-middle">{{ flight.departureairportid }}</td>
                <td class="align-middle">{{ flight.arrivalairportid }}</td>
                <td class="align-middle">{{ flight.departuretime }}</td>
                <td class="align-middle">{{ flight.arrivaltime }}</td>
                <td class="align-middle">{{ flight.aircraftid }}</td>
                <td>
                    <a href="{{ url_for('update_flight', flight_id=flight.flightid) }}" class="btn btn-warning">Update</a>
                    <a href="{{ url_for('delete_flight', flight_id=flight.flightid) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'end.html' %}
