{% include 'top.html' %}

<div id="content" class="container my-4">
    <h1 class="page-title">{{ page.title }}</h1>

    <form name="searchform" method="POST" action="{{ url_for('search_flight_by_id') }}">

        <div class="form-group">
            <label>Enter Flight ID</label>
            <input class="form-control" type="text" name="flight_id" placeholder="Flight ID" required>
        </div>
        
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

{% include 'end.html' %}
